h1{
    margin-top: 50px;
}

body{
    background-color: #979494;
}

.main{
    width: 35%;
    margin-top: 100px;
    margin-left: 34%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}